babyfoot-rs/target
babyfoot-rs/players.json
babyfoot-rs/game_history.json
.env
target
.DS_Store
log.txt
crates/parser/temp
matchs.db
crates/parser/src/main.rs
crates/telegram-notifier/src/main.rs
crates/scanner/src/main.rs
state.db
crates/admin-panel/src/main.rs
crates/filter/src/main.rs
